---
import { getCollection } from 'astro:content';
import ArrowRight from '../../icons/ArrowRight.astro';
import BaseLayout from '../../layouts/BaseLayout.astro';
import { getAllTags, getPostsByTag, sortItemsByDateDesc } from '../../utils/data-utils';

const posts = (await getCollection('blog')).sort(sortItemsByDateDesc);
const tags = getAllTags(posts).sort((tagA, tagB) => {
    const postCountTagA = getPostsByTag(posts, tagA.id).length;
    const postCountTagB = getPostsByTag(posts, tagB.id).length;
    return postCountTagB - postCountTagA;
});
---

<BaseLayout
    title="Tags"
    description="Explore tag directory for easy navigation and discovery. Find a wide range of topics, articles, and insights organized by tags, making it effortless to locate the content that interests you most."
    showHeader={false}
>
    <h1 class="mb-12 text-2xl leading-tight font-serif italic sm:mb-16 sm:text-4xl">Tags</h1>
    <div class="flex flex-wrap gap-4">
        {
            tags.map((tag) => (
                <a class="flex items-center gap-2 rounded-full bg-main/10 px-4 py-2 text-sm text-main hover:bg-main/20" href={`/tags/${tag.id}`}>
                    {tag.name}
                    <ArrowRight class="fill-current w-4 h-4" />
                </a>
            ))
        }
    </div>
</BaseLayout>
